<!doctype html>
<html>
<head>
	<title>eHealth applicaiton for PD hospital</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Role verification</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>

	

		<form action="/role", method="get">
  		<div class="form-group">
			<label>USER ID</label>
			<input type="text" class="form-control" name="userid">
		</div>
			<button type="submit" class="btn btn-warning btn-lg">Submit</button>
		
		</form> 

	<div class="text-center">
		<p>Assignment for 4ME302</p>
		<p>Student: Eswar Chukaluri</p>
	</div>
</div>
</div>
</body>
</html>