<!doctype html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="oauth.js"></script>

  <title>Upload pictures and videos to Twitter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
  <style>
    body    { padding-top:80px; word-wrap:break-word; }
  </style>
</head>


<body>
<div class="container">

  <div class="page-header text-center">
    <h1>Upload pictures and videos to Twitter</h1>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
  </div>

Status Text: <input type="text" id="status" >
Image URL (Max size: 5MB: <input type="url" id="imageurl" >
<button id="connect">Tweet</button>
<pre style="display:none" id="result"></pre><br>
<img id="photo"/>

<script type="text/javascript">

$('#connect').click(function() {
  var xhr = new XMLHttpRequest();
var myurl = $("#imageurl").val();
//document.getElementById("imageurl").value;
var proxy = 'https://cors-anywhere.herokuapp.com/';

xhr.open("GET", proxy+myurl, true);
//$("#imageurl").val()
// Ask for the result as an ArrayBuffer.
xhr.responseType = "arraybuffer";

xhr.onload = function( e ) {
    // Obtain a blob: URL for the image data.
    var arrayBufferView = new Uint8Array( this.response );
    var blob = new Blob( [ arrayBufferView ], { type: "image/jpeg" } );
    var urlCreator = window.URL || window.webkitURL;
    var imageUrl = urlCreator.createObjectURL( blob );
    var img = document.querySelector( "#photo" );
    img.src = imageUrl;

    OAuth.initialize("8FtK5BZDd11zcUHZnEclmtQ0lBI", {cache:false});
    

    OAuth.popup("twitter").then(function(result) {
        var data = new FormData();
        data.append('status', $("#status").val());
        data.append('media[]', blob);

        
        return result.post('/1.1/statuses/update_with_media.json', {
            data: data,
            cache:false,
            processData: false,
            contentType: false
        });
    }).done(function(data){
        var str = JSON.stringify(data, null, 2);
        $('#result').html("Success\n" + str).show()
    }).fail(function(e){
        var errorTxt = JSON.stringify(e, null, 2)
        $('#result').html("Error\n" + errorTxt).show()
      console.log(error);
    });

};
xhr.send();
});




// function dataURItoBlob(dataURI) {
//     // convert base64 to raw binary data held in a string
//     var byteString = atob(dataURI.split(',')[1]);

//     // separate out the mime component
//     var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

//     // write the bytes of the string to an ArrayBuffer
//     var arrayBuffer = new ArrayBuffer(byteString.length);
//     var _ia = new Uint8Array(arrayBuffer);
//     for (var i = 0; i < byteString.length; i++) {
//         _ia[i] = byteString.charCodeAt(i);
//     }

//     var dataView = new DataView(arrayBuffer);
//     var blob = new Blob([dataView], { type: mimeString });
//     return blob;
// }


</script>



  <div class="text-center">
      <p>Assignment for 4ME305</p>
      <p>Student: Eswar Chukaluri</p>
  </div>


</div>
</body>
</html>
